<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bwei.com.jd_demo">

    <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/jd_buy_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ExitActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.DetailActivity" />
        <activity android:name=".activity.Detail2Activity" />
        <activity android:name=".activity.RegActivity" />
        <activity android:name=".activity.UserActivity" />
        <activity android:name=".activity.LibzxingActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".addr.view.TackActivity" />
        <activity android:name=".addr.view.AddActivity" />
    </application>

</manifest>